body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(34, 7, 54, 1) 0%, rgba(10, 14, 94, 1) 50%, rgba(34, 7, 54, 1) 100%);
    color: white;
}
h1 {
    font-size: 3em;
    color: #ff3ec9;
    text-shadow: 2px 2px #000;
}
.container {
    display: grid;
    place-content: center;
    gap: 20px;
}
.fact-container {
    border: 3px solid #a82884;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 9px 9px 25px 9px rgba(89,38,92,0.5);
    margin-bottom: 20px;
    display: inline-block;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ff3ec9;
    font-size: 24px;
    text-shadow: 1px 1px #000;
}

.chuck {
    width: 17rem;
    height: auto;
    place-self: center;
    filter: drop-shadow(0 0 10px #ff3ec9);
}
button {
    margin: 2rem;
    padding: 10px 20px;
    font-size: 1.5rem;
    background: linear-gradient(45deg, #ff3ec9, #40e0d0);
    border: 0.25rem solid #000;
    border-radius: 1rem;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button:hover {
    transform: scale(1.1);
}
.dropdown {
    appearance: none;
    background-color: #6b1753;
    border: 2px solid #40e0d0;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #b8e0dc;
    margin-bottom: 20px;
    cursor: pointer;
    place-self: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.dropdown:hover {
    background-color: #aa2384;
}

.dropdown:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #6b1753;
}
